<form class="container">
  <div class="form-group">
    <label>Username</label>
    <input [(ngModel)]="username" type="text" class="form-control" placeholder="Enter username" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" [ngModelOptions]="{standalone: true}">
  </div>
  <button (click)="login()" class="btn btn-primary">Login</button>
  <button (click)="loginFB()" class="btn btn-primary">Facebook Login</button>
</form>