<form class="container">
  <div class="jumbotron ">

    <div class="form-group">
      <input [(ngModel)]="search" class="form-control" type="text" placeholder="Search For State">
      <button (click)="stateSearch($event)" type="button" class="btn btn-primary">typeahead</button>
    </div>
    <ul>
      <li *ngFor="let x of typeahead; index as i" class="list-group-item">
        {{x}}
      </li>
    </ul>



    <div class="card col-md-4 col-centered" style="text-align: center">
      <div class="card-body">
        <h4>
          Login
        </h4>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input [(ngModel)]="username" type="text" class="form-control" placeholder="Enter username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" [ngModelOptions]="{standalone: true}">
      </div>
      <div>
        <button (click)="login()" class="btn btn-primary" style="float:left">Login</button>
        <button (click)="loginFB()" class="btn btn-primary" style="float:right">Facebook Login</button>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</form>