<div class="container">
    <div class="jumbotron">
        <h3>Hello, {{me.name}}! Select the exercises that you have completed</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Available Exercises
                    </div>
                    <ul class="list-group list-group-flush" style="max-height: 200px; min-height: 200px; overflow: auto;" id="available-exercises">
                        <li *ngFor="let x of me.todoList; index as i" class="list-group-item">
                            {{x.name}}
                            <button style="float: right" (click)="completeExercise($event, x, i)" type="button" class="btn btn-primary">Add</button>
                        </li>
                    </ul>
                </div>
                <div class="card">
                    <div class="card-header">
                        Add Custom Exercises
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="input-group">
                                    <input [(ngModel)]="newExerciseName" type="text" class="form-control col-md-10" placeholder="Add Exercise">
                                    <button (click)="addExercise($event)" style="float: right" type="button" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Completed Exercises
                    </div>
                    <ul class="list-group list-group-flush" style="max-height: 313px; min-height: 313px; overflow: auto;" id="completed-exercises">
                        <li *ngFor="let x of me.doneList; index as i" class="list-group-item">
                            {{x.name}}
                            <button style="float: right" (click)="removeExercise($event, x, i)" type="button" class="btn btn-primary">X</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Other Users
                    </div>
                    <ul class="list-group list-group-flush" style="max-height: 315px; min-height: 315px; overflow: auto;" id="completed-exercises">
                        <li *ngFor="let x of users; index as i" class="list-group-item">
                            <img [src]=x.picture style="width: 35px" class="rounded"/>
                            {{x.name}}
                            <button style="float: right" (click)="setOtherUser($event, i)" type="button" class="btn btn-primary">View</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        {{otherUser.name}}'s Exercises
                    </div>
                    <ul class="list-group list-group-flush" style="max-height: 315px; min-height: 315px; overflow: auto;" id="completed-exercises">
                        <li *ngFor="let x of otherUser.doneList; index as i" class="list-group-item">
                            {{x.name}}
                            <button style="float: right" (click)="stealExercise($event, x, i)" type="button" class="btn btn-primary">Copy</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>