<div class="container">
  <div class="jumbotron" style="text-align: center">
      <h3>Welcome to the Fitness Hacker</h3>
      <p>Hack your way into the fit body that you want!</p>

  <div class="row">
      <div class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Signup</h4>
                  <p class="card-text">Join the community and start exercising.</p>
                  <a href="signup" class="btn btn-primary">Join us!</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">Exercises</h4>
                  <p class="card-text">Use our tracker to start exercising.</p>
                  <a href="exercises" class="btn btn-primary">Start exercising</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card">
              <img class="card-img-top" src="/assets/img/download.png" alt="Card image cap">
              <div class="card-body">
                  <h4 class="card-title">About us</h4>
                  <p class="card-text">Read more about our program.</p>
                  <a href="#" class="btn btn-primary">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>
</div>